{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-secondary">
        <i class="fa fa-backward" aria-hidden="true"></i> {{ 'Back' }}
    </a>
{% endblock %}
