{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between">
        <h1>Create new Contact</h1>

    </div>


    {{ include('contact/_form.html.twig') }}



{% endblock %}
